__pycache__
*.egg-info
dickens/
book.txt
eventrag-dev/
.idea/
dist/
env/
local_neo4jWorkDir/
neo4jWorkDir/
ignore_this.txt
.venv/
*.ignore.*
.ruff_cache/
gui/
*.log
.env
.cache/
tmp_*
data/
datasets/
*.json
agent_graph.png
openai_usage.csv
.pcache/
.c/
.np/
*.pkl
.conda
*.lock